# general
.vscode/settings.json
asset/*test*/**
asset/stdout.txt
asset/stderr.txt
build/**
build_*/**
thirdparty/**
script/*.json
save

# android
local.properties
sign.properties
src/onsyuri_android/.gradle
src/onsyuri_android/local.properties
src/onsyuri_android/.idea/caches
src/onsyuri_android/.idea/libraries
src/onsyuri_android/.idea/vcs.xml
src/onsyuri_android/.idea/modules.xml
src/onsyuri_android/.idea/workspace.xml
src/onsyuri_android/.idea/navEditor.xml
src/onsyuri_android/.idea/assetWizardSettings.xml
src/onsyuri_android/.idea/deploymentTargetDropDown.xml
src/onsyuri_android/.idea/inspectionProfiles
src/onsyuri_android/app/cpp/thirdparty/**
src/onsyuri_android/app/.cxx/**
src/onsyuri_android/app/debug/**
src/onsyuri_android/app/release/**