name: build android
on:
  push: {tags:  ['v*']} #  Push events to matching v*, i.e. v1.0, v20.15.10
  pull_request: 

permissions:
  contents: write

jobs:
  build_android:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v3
   
    - uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle
    
    - name: build onsyuri_android
      env:
        SIGN_KEY_ALIAS: ${{ secrets.SIGN_KEY_ALIAS }}
        SIGN_KEY_PASS: ${{ secrets.SIGN_KEY_PASS }}
        SIGN_STORE_PASS: ${{ secrets.SIGN_STORE_PASS }}
        SIGN_JKS_BASE64: ${{ secrets.SIGN_JKS_BASE64 }}
      run: |
        # openssl base64 < sign.jks | tr -d '\n' | tee sign.txt
        if [ -n "$SIGN_JKS_BASE64" ]; then
          echo "$SIGN_JKS_BASE64" | base64 --decode > src/onsyuri_android/app/sign.jks
          ls -la src/onsyuri_android/app
        fi
        if [ -z "$(echo ${{  github.ref_name }} | grep merge)" ]; then 
          sed -i -E 's/#define ONS_YURI_VERSION "(.+?)"/#define ONS_YURI_VERSION "${{  github.ref_name }}"/g' src/onsyuri/version.h
        fi
        cd script 
        bash ./cross_android.sh
        cd -
        file build_android/outputs/apk/release/*.apk

    - name: prepare to release
      if: github.event_name == 'push'
      run: cp ./build_android/outputs/apk/release/*.apk onsyuri_${{  github.ref_name }}_android.apk
    
    - name: create release
      uses: ncipollo/release-action@v1
      if: github.event_name == 'push'
      with:
        artifacts: "onsyuri_${{  github.ref_name }}_android.apk"
        allowUpdates: "true"
        token: ${{ secrets.GITHUB_TOKEN }}