name: build windows MSVC x86, x64, ARM64
on:
  push: {tags:  ['v*']} #  Push events to matching v*, i.e. v1.0, v20.15.10
  pull_request: 

permissions:
  contents: write

jobs:
  build_i386:
    runs-on: windows-2022
    env:
      BUILD_TYPE: Release
      VCPKG_TRIPLET: x86-windows-static
      CMAKE_ARCH: Win32
    defaults:
      run:
        working-directory: ${{github.workspace}}
    steps:
    - name: checkout code
      uses: actions/checkout@v3
    
    - name: run vcpkg
      uses: lukka/run-vcpkg@v11.5
      with: 
        vcpkgGitCommitId: ce613c41372b23b1f51333815feb3edd87ef8a8b
        runVcpkgInstall: true
        prependedCacheKey: ${{env.VCPKG_TRIPLET}}
    
    - name: Set up CMake
      run: md build && cd build && cmake ${{github.workspace}} -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_TOOLCHAIN_FILE=${{github.workspace}}/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=${{env.VCPKG_TRIPLET}} -DVCPKG_BUILD_TYPE=release -G "Visual Studio 16 2019" -A ${{env.CMAKE_ARCH}}
      
    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: onsyuri-${{env.VCPKG_TRIPLET}}
        path: ${{github.workspace}}/build/${{env.BUILD_TYPE}}
    
    - name: prepare release
      if: github.event_name == 'push'
      run: mv ${{github.workspace}}/build/${{env.BUILD_TYPE}}/onsyuri.exe ${{github.workspace}}/onsyuri_${{github.ref_name}}_x86_win.exe
      
    - name: create release
      uses: ncipollo/release-action@v1
      if: github.event_name == 'push'
      with:
        artifacts: ${{github.workspace}}/onsyuri_${{github.ref_name}}_x86_win.exe
        allowUpdates: "true"
        token: ${{secrets.GITHUB_TOKEN}}

  build_amd64:
    runs-on: windows-2022
    env:
      BUILD_TYPE: Release
      VCPKG_TRIPLET: x64-windows-static
      CMAKE_ARCH: x64
    defaults:
      run:
        working-directory: ${{github.workspace}}
    steps:
    - name: checkout code
      uses: actions/checkout@v3
    
    - name: run vcpkg
      uses: lukka/run-vcpkg@v10.7
      with: 
        vcpkgGitCommitId: ce613c41372b23b1f51333815feb3edd87ef8a8b
        runVcpkgFormatString: '[`install`, `--recurse`, `--clean-after-build`, `--x-install-root`, `$[env.VCPKG_INSTALLED_DIR]`, `--triplet`, `x64-windows-static`]'
        runVcpkgInstall: true
        prependedCacheKey: ${{env.VCPKG_TRIPLET}}
    
    - name: Set up CMake
      run: md build && cd build && cmake ${{github.workspace}} -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_TOOLCHAIN_FILE=${{github.workspace}}/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=${{env.VCPKG_TRIPLET}} -DVCPKG_BUILD_TYPE=release -G "Visual Studio 16 2019" -A ${{env.CMAKE_ARCH}}
  
    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: onsyuri-${{env.VCPKG_TRIPLET}}
        path: ${{github.workspace}}/build/${{env.BUILD_TYPE}}
    
    - name: prepare release
      if: github.event_name == 'push'
      run: mv ${{github.workspace}}/build/${{env.BUILD_TYPE}}/onsyuri.exe ${{github.workspace}}/onsyuri_${{github.ref_name}}_amd64_win.exe
      
    - name: create release
      if: github.event_name == 'push'
      uses: ncipollo/release-action@v1
      with:
        artifacts: ${{github.workspace}}/onsyuri_${{github.ref_name}}_amd64_win.exe
        allowUpdates: "true"
        token: ${{secrets.GITHUB_TOKEN}}

  build_arm64:
    runs-on: windows-2022
    env:
      BUILD_TYPE: Release
      VCPKG_TRIPLET: arm64-windows-static
      CMAKE_ARCH: ARM64
    defaults:
      run:
        working-directory: ${{github.workspace}}
    steps:
    - name: checkout code
      uses: actions/checkout@v3
    
    - name: run vcpkg
      uses: lukka/run-vcpkg@v10.7
      with: 
        vcpkgGitCommitId: ce613c41372b23b1f51333815feb3edd87ef8a8b
        runVcpkgFormatString: '[`install`, `--recurse`, `--clean-after-build`, `--x-install-root`, `$[env.VCPKG_INSTALLED_DIR]`, `--triplet`, `${{env.VCPKG_TRIPLET}}`]'
        runVcpkgInstall: true
        prependedCacheKey: ${{env.VCPKG_TRIPLET}}
    
    - name: Set up CMake
      run: md build && cd build && cmake ${{github.workspace}} -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_TOOLCHAIN_FILE=${{github.workspace}}/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=${{env.VCPKG_TRIPLET}} -DVCPKG_BUILD_TYPE=release -G "Visual Studio 16 2019" -A ${{env.CMAKE_ARCH}}
      
    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: onsyuri-${{env.VCPKG_TRIPLET}}
        path: ${{github.workspace}}/build/${{env.BUILD_TYPE}}
    
    - name: prepare release
      if: github.event_name == 'push'
      run: mv ${{github.workspace}}/build/${{env.BUILD_TYPE}}/onsyuri.exe ${{github.workspace}}/onsyuri_${{github.ref_name}}_arm64_win.exe
      
    - name: create release
      if: github.event_name == 'push'
      uses: ncipollo/release-action@v1
      with:
        artifacts: ${{github.workspace}}/onsyuri_${{github.ref_name}}_arm64_win.exe
        allowUpdates: "true"
        token: ${{secrets.GITHUB_TOKEN}}
